[project]
	description = InfraRed Plugin for code coverage for OSP
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Arie Bregman (bregman-arie)
	owner = group user/Ariel Opincaru (aopincar)
	owner = group user/Avi Talmor (atalmor)
	owner = group user/Avishay Mahluf (avishaymahluf)
	owner = group user/Candido Campos Rivas (ccamposr)
	owner = group user/Vadim G (vgri)
[access "refs/for/refs/*"]
	read = group user/Avishay Mahluf (avishaymahluf)
	read = group user/Candido Campos Rivas (ccamposr)
	push = group user/Avishay Mahluf (avishaymahluf)
	push = group user/Candido Campos Rivas (ccamposr)
	label-Code-Review = -2..+2 group user/Avishay Mahluf (avishaymahluf)
	label-Code-Review = -2..+2 group user/Candido Campos Rivas (ccamposr)
	label-Verified = -1..+1 group user/Avishay Mahluf (avishaymahluf)
	label-Verified = -1..+1 group user/Candido Campos Rivas (ccamposr)
	rebase = group user/Avishay Mahluf (avishaymahluf)
	rebase = group user/Candido Campos Rivas (ccamposr)
	removeReviewer = group user/Avishay Mahluf (avishaymahluf)
	removeReviewer = group user/Candido Campos Rivas (ccamposr)
	submit = group user/Avishay Mahluf (avishaymahluf)
	submit = group user/Candido Campos Rivas (ccamposr)
[access "refs/heads/*"]
	read = group user/Avishay Mahluf (avishaymahluf)
	read = group user/Candido Campos Rivas (ccamposr)
	create = group user/Avishay Mahluf (avishaymahluf)
	create = group user/Candido Campos Rivas (ccamposr)
	push = +force group user/Avishay Mahluf (avishaymahluf)
	push = group user/Candido Campos Rivas (ccamposr)
	pushMerge = group user/Avishay Mahluf (avishaymahluf)
	pushMerge = group user/Candido Campos Rivas (ccamposr)
[access "refs/tags/*"]
	push = group user/Avishay Mahluf (avishaymahluf)
	push = +force group user/Avishay Mahluf (avishaymahluf)
	push = group user/Candido Campos Rivas (ccamposr)
